<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Crear usuario</title>
</head>
<body>
  <h1>Crear usuario</h1>
  <form th:action="@{/admin/create-user}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:value="${user.username}"/>
    <br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:value="${user.password}"/>
    <br/>
    <label for="roles">Roles:</label>
    <select id="roles" name="roles" multiple="multiple">
      <option value="ROLE_USER">Usuario de almacén</option>
      <option value="ROLE_OFFICE">Usuario de oficina</option>
    </select>
    <br/>
    <input type="submit" value="Crear usuario"/>
  </form>
</body>
</html>