<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title><span th:text="#{persona.buscar.titulo}"></span></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    
</head>
<body>

    <div class="starter-template">
        <h1><span th:text="#{empresa}"></span></h1>
        <h2>
            <span th:text="Buscar_hr"></span>
        </h2>
    </div>
    
    <form th:action="@{/hrBuscar}" th:object="${formBean}" method="post">
        <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
        
        <table border="1" style="align-self: center;">
            <tr>
                <td><label th:text="Nro_hr"></label></td>
                <td><input type="number" th:field="*{id}" /></td>
            </tr>
            <tr>
                <td><label th:text="Descripcion"></label></td>
                <td><input type="text" th:field="*{descripcion}" /></td>
            </tr>
            
        </table>
        
        <table class="botones">
            <tr>
                <td><input type="submit" name="action" value="Buscar" /></td>
                <td><input type="submit" name="action" value="Cancelar" /></td>
                <td><input type="submit" name="action" value="Registrar" /></td>
            </tr>
        </table>
        
        <table class="resultados" border="0" style="align-self: center;">
            <thead>
                <tr>
                    <th><label th:text="nro"></label></th>
                    <th><label th:text="descripcion"></label></th>
                    <th><label th:text="gramaje"></label></th>
                    <th><label th:text="fecha"></label></th>
                    
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${resultados}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.descripcion}"></td>
                    <td th:text="${p.gramaje}"></td>
                    <td th:text="${p.fecha}"></td>
                    <td th:text="${p.calidad.nombre}"></td>
                    <td>
                        <a th:href="@{/hrEditar/{id}(id=${p.id})}" class="btn btn-primary">editar</a>
                    </td>
                    <td>
                        <a th:href="@{/hrEditar/delete/{id}(id=${p.id})}" class="btn btn-primary">eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

</body>
</html>
ml>	